<header class="header">
	<h1 class="header-logo">
		<a href="<%= root_path %>">GiveTime</a>
	</h1>

	<%= form_tag home_index_path, { :class => "header-form clearfix", :method => :get } do %>
		<%= text_field_tag "category", nil, { placeholder: "What is your passion?", class: "header-input" } %>
		<%= submit_tag "Go", :class => "header-submit" %>
	<% end %>

	<p data-bind="visible: canDetectLocation()">Location: <a href="" data-bind="click: detectLocation, text: location() ? location : 'Auto Detect'"></a></p>
</header>

<script>
	var viewModel = {
		canDetectLocation: ko.observable(false),
		detectLocation: detectLocation,
		location: ko.observable()
	}
	ko.applyBindings(viewModel);

	window.onload = function() {
		canDetectLocation();
	}

	function canDetectLocation() {
		if(navigator.geolocation) viewModel.canDetectLocation(true);
	}

	function detectLocation() {
		viewModel.location("Updating...");

		navigator.geolocation.getCurrentPosition(function(location) {
			$.get("https://maps.google.com/maps/api/geocode/json?latlng=" + location.coords.latitude + ", " + location.coords.longitude + " &sensor=true", function( data ) {
				var result = data['results'][0]['address_components'];
				var city, state, postalCode;

				for (var i = result.length - 1; i >= 0; i--) {
					// grab city name
					if ($.inArray('locality', result[i]['types']) !== -1) {
						city = result[i]['long_name'];
					}

					// grab state name
					if ($.inArray('administrative_area_level_1', result[i]['types']) !== -1) {
						state = result[i]['long_name'];
					}

					// grab postal code
					if ($.inArray('postal_code', result[i]['types']) !== -1) {
						postalCode = result[i]['long_name'];
					}
				};

				var formatted_address = city + ', ' + state;

				viewModel.location(formatted_address);
			});
		}, onError);
	}

	function onError() {
		console.log("Your location can not be detected.");
	}
</script>