<h1>SkillunteerZ</h1>

I am passinate about
<%= form_tag home_index_path, id: "search_form", :method => :get do %>
  <%= text_field_tag "category", nil, placeholder: "Passion" %>
  <%= submit_tag "Find me a charity" %>
<% end %>