<h2 class="page-title">Charities</h2>

<ul>
  <% @charities.each do |charity| %>
  <li><strong><%= link_to charity.name, charity %></strong> (<%= link_to "Edit", edit_charity_path(charity) %>)</li>
  <% end %>
</ul>

<p>Don't see a charity? <%= link_to "Add one", new_charity_path %></p>
